@charset "UTF-8";
/*			Обнуление			*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.control-group {
  display: inline-block;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #fafafa;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background: #000000;
  border: 2px solid #f8ef00;
  border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #000000;
}

.control input:checked ~ .control_indicator {
  background: #f8ef00;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #f8ef00;
}

.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

body {
  font-family: "Tomorrow", sans-serif;
  background: #000;
  padding-left: 10%;
}

.password {
  display: inline-block;
  margin: 0 auto;
  padding-top: 4%;
  padding-left: 20px;
  padding-right: 20px;
}
.password__block {
  display: inline-flex;
  flex-direction: column;
}
.password__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f8ef00;
  max-width: 320px;
}
.password__input {
  width: max(588px, 100%);
  margin-top: 50px;
  display: inline-block;
  background: rgba(0, 240, 255, 0.1);
  border: 2px solid #00f0ff;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.password__input-text {
  font-size: 16px;
  background: rgba(0, 238, 255, 0);
  letter-spacing: 0.2em;
  color: #00f0ff;
  width: 100%;
}
.password__input-new:hover {
  cursor: pointer;
}
.password__button {
  width: 380px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px 40px;
  background: #f8ef00;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 150%, 0 67%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 150%, 0 67%);
  border-right: 2px solid #ff003c;
  position: relative;
}
.password__button-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.password__button::before {
  content: "R25";
  width: 38px;
  height: 8px;
  background: black;
  position: absolute;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f8ef00;
  bottom: 0;
  right: 20px;
  border-left: 2px solid #ff003c;
}
.password__range {
  height: 45px;
  margin-top: 30px;
  display: inline-block;
  width: max(588px, 100%);
  position: relative;
}
.password__range output {
  position: absolute;
  top: 0%;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fafafa;
}
.password__range input {
  position: absolute;
  bottom: 20%;
  width: 100%;
  -webkit-appearance: none !important;
  background: #00f0ff;
  height: 3px;
}
.password__range input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #f8ef00;
  height: 21px;
  width: 21px;
}
.password__checkboxs {
  margin-top: 50px;
}

@media (width < 700px) {
  body {
    padding: 0;
  }
  .password {
    display: flex;
    padding: 10px;
  }
  .password__button {
    width: auto;
  }
  .password__block {
    display: flex;
    margin: 0 auto;
  }
  .password__input {
    padding: 0 10px;
  }
  .password__input-text {
    font-size: 14px;
  }
  .password__range {
    width: 100%;
  }
  .password__input {
    width: 100%;
  }
}
@media (width < 400px) {
  .password__input-text {
    font-size: 13px;
  }
}